.s_showcase_image_right {
  height: auto;
  text-align: right;
}
.s_showcase_image_right .info {
  margin-bottom: 1.5em;
}
.s_showcase_image_right figure {
  background-size: cover;
  position: relative;
  height: 200px;
}
.s_showcase_image_right figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: none;
  font-size: 1em;
  color: #333333;
  background: white;
  padding: 1em;
}
.s_showcase_image_right figcaption h6 {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  .s_showcase_image_right {
    height: auto!important;
  }
}
@media only screen and (min-width: 992px) {
  .s_showcase_image_right {
    height: 350px;
  }
  .s_showcase_image_right .info {
    height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .s_showcase_image_right figure {
    height: 100%;
  }
  .s_showcase_image_right figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    margin-right: 14px;
    text-align: left;
    font-size: 0.8em;
    padding: 1em;
  }
}
@supports not (display: flex) {
  @media only screen and (min-width: 992px) {
    .info {
      margin: 2em 0;
    }
  }
}
.s_showcase_image_right figure.tl figcaption {
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: right;
}
.s_showcase_image_right figure.tr figcaption {
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
  margin-right: 14px;
}
.s_showcase_image_right figure.bl figcaption {
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  text-align: right;
}
